Repository ThreatFlux/threatflux-threat-detection: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test, cargo-audit

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-toml
      - id: check-json
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key

  - repo: local
    hooks:
      - id: cargo-fmt-check
        name: cargo fmt --check
        entry: cargo fmt
        language: rust
        files: \.rs$
        pass_filenames: false
        args: ["--check"]

      - id: cargo-clippy-lib
        name: cargo clippy (lib)
        entry: cargo clippy
        language: rust
        files: \.rs$
        pass_filenames: false
        args: ["--lib", "--", "-D", "warnings"]

      - id: cargo-clippy-bins
        name: cargo clippy (bins)
        entry: cargo clippy
        language: rust
        files: \.rs$
        pass_filenames: false
        args: ["--bins", "--", "-D", "warnings"]

      - id: cargo-clippy-tests
        name: cargo clippy (tests)
        entry: cargo clippy
        language: rust
        files: \.rs$
        pass_filenames: false
        args: ["--tests", "--", "-W", "clippy::all"]

      - id: cargo-check
        name: cargo check
        entry: cargo check
        language: rust
        files: \.rs$
        pass_filenames: false
        args: ["--all-features"]

      - id: cargo-test
        name: cargo test
        entry: cargo test
        language: rust
        files: \.rs$
        pass_filenames: false
        args: ["--lib", "--bins"]

      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: rust
        files: Cargo\.(toml|lock)$
        pass_filenames: false

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.29.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.41.0
    hooks:
      - id: markdownlint
        args: ['--fix']

style: apply rustfmt formatting to all files
  src/npm_vuln_db.rs
  src/repository_integrity.rs
  src/taint_tracking.rs
  src/typosquatting_detection.rs
  tests/npm_analysis_advanced_test.rs
  tests/python_analysis_advanced_test.rs
  tests/repository_integrity_test.rs
  tests/taint_tracking_test.rs
  tests/typosquatting_detection_test.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test

fix: resolve all clippy warnings and test issues
  tests/common/mod.rs
  tests/entropy_analysis_test.rs
  tests/fixtures/mod.rs
  tests/function_analysis_test.rs
  tests/mcp_transport_sse_test.rs
  tests/mcp_transport_stdio_test.rs
  tests/ole_vba_analysis_test.rs
  tests/repository_integrity_test.rs
  tests/signature_test.rs
  tests/taint_tracking_test.rs
  tests/typosquatting_detection_test.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test

fix: resolve test compilation errors
  tests/function_analysis_test.rs
  tests/taint_tracking_test.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test

fix: resolve Docker tag format issue in GitHub Actions
  .github/workflows/docker.yml
Due: none

fix: load Docker image locally for PR tests
  .github/workflows/docker.yml
Due: none

fix: resolve Python analysis test failures
  src/python_analysis.rs
  tests/python_analysis_advanced_test.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test

fix: resolve clippy lint warnings and formatting issues
  src/python_analysis.rs
  tests/common/mod.rs
  tests/function_analysis_test.rs
  tests/python_analysis_advanced_test.rs
  tests/taint_tracking_test.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test

fix: resolve npm typosquatting test assertions for new format
  tests/npm_analysis_test.rs
  tests/npm_vuln_db_test.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test

feat: implement comprehensive test performance optimizations
  .gitignore
  Cargo.lock
  Cargo.toml
  TEST_OPTIMIZATION.md
  scripts/test-categories.sh
  scripts/test-fast.sh
  scripts/test-parallel.sh
  tests/common/fixtures.rs
  tests/common/mod.rs
  tests/hash_test.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test, cargo-audit

fix: resolve clippy warnings and test script issues
  scripts/test-fast.sh
  scripts/test-parallel.sh
  test_run.log
  tests/common/fixtures.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test

fix: resolve remaining test failures for CI/CD readiness
  scripts/test-fast.sh
  src/repository_integrity.rs
  src/typosquatting_detection.rs
  tests/typosquatting_detection_test.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test

feat: integrate optimized test scripts into Makefile and CI workflows
  .github/workflows/ci.yml
  Makefile
  src/typosquatting_detection.rs
  tests/common/fixtures.rs
  tests/hash_test.rs
  tests/typosquatting_detection_test.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test

perf: optimize string extraction with caching in MCP server
  src/mcp_server.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test

feat: add docker-run-http command to Makefile
  Makefile
Due: none

feat: implement comprehensive CI/CD optimizations
  .github/workflows/ci-optimized.yml
  CI_OPTIMIZATION_GUIDE.md
  Makefile
  scripts/migrate-ci.sh
Due: none

feat: apply optimized CI configuration
  .github/workflows/ci-optimized.yml
  .github/workflows/ci.yml
  .github/workflows/ci.yml.backup
Due: none

feat: add comprehensive CLI options for MCP server feature parity
  src/main.rs
  src/mcp_server.rs
  src/metadata.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test

fix: resolve CI failures
  Cargo.lock
  Cargo.toml
  src/mcp_server.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test, cargo-audit

chore: add default impl and test root guards
  Cargo.lock
  Cargo.toml
  src/hash.rs
  src/mcp_server.rs
  src/mcp_transport.rs
  src/metadata.rs
  tests/integration/mcp_server_test.rs
  tests/integration/mcp_transport_test.rs
  tests/mcp_server_unit_test.rs
  tests/mcp_transport_comprehensive_test.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test, cargo-audit

test: increase coverage
  src/hash.rs
  src/mcp_server.rs
  src/metadata.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test

fix: resolve CI disk space issues for parallel test execution
  .cargo/config.toml
  .github/workflows/ci.yml
  CI_DISK_SPACE_FIX.md
  scripts/test-parallel-ci.sh
  scripts/test-parallel.sh
Due: none

fix: add initialized handler for rmcp protocol compatibility
  RMCP_PROTOCOL_FIX.md
  src/mcp_transport.rs
  tests/mcp_transport_integration_test.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test

fix: return HTTP 202 Accepted for initialized notification
  RMCP_PROTOCOL_FIX.md
  src/mcp_transport.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test

fix: Update formatting and fix MCP transport test
  DEPENDENCY_UPGRADES.md
  FILE_SCANNER_ARCHITECTURE_GUIDE.md
  FILE_SCANNER_FLOW_DIAGRAM.md
  file_scanner_test.yaml
  output_python_exe.json
  output_python_exe2.json
  src/mcp_server.rs
  tests/integration/mcp_transport_test.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test

deps: Update multiple dependencies to latest versions
  Cargo.lock
  Cargo.toml
Due: cargo-audit

feat: add GitHub workflow for threatflux-package-security library
  threatflux-package-security/.github/workflows/ci.yml
Due: none

feat: add Rust formatting configuration
  .rustfmt.toml
Due: none

feat: add release workflow for threatflux-package-security
  threatflux-package-security/.github/workflows/release.yml
Due: none

feat: add Clippy linting configuration
  .clippy.toml
Due: none

feat: finalize workspace configuration
  Cargo.toml
Due: cargo-audit

feat(threatflux-hashing): add comprehensive GitHub Actions CI/CD workflows
  threatflux-hashing/.github/ISSUE_TEMPLATE/bug_report.yml
  threatflux-hashing/.github/ISSUE_TEMPLATE/feature_request.yml
  threatflux-hashing/.github/pull_request_template.md
  threatflux-hashing/.github/workflows/ci.yml
  threatflux-hashing/.github/workflows/docs.yml
  threatflux-hashing/.github/workflows/release.yml
  threatflux-hashing/.github/workflows/security.yml
  threatflux-hashing/deny.toml
Due: none

feat: add comprehensive GitHub Actions CI/CD workflows
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
  .github/workflows/dependency-update.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: none

feat: add comprehensive GitHub Actions CI/CD workflows for threatflux-binary-analysis
  threatflux-binary-analysis/.github/ISSUE_TEMPLATE/bug_report.yml
  threatflux-binary-analysis/.github/ISSUE_TEMPLATE/feature_request.yml
  threatflux-binary-analysis/.github/PULL_REQUEST_TEMPLATE.md
  threatflux-binary-analysis/.github/dependabot.yml
  threatflux-binary-analysis/.github/workflows/ci.yml
  threatflux-binary-analysis/.github/workflows/docs.yml
  threatflux-binary-analysis/.github/workflows/release.yml
  threatflux-binary-analysis/.github/workflows/security.yml
Due: none

feat: add comprehensive GitHub Actions CI/CD workflows and fix examples
  examples/custom_entry.rs
  examples/file_scanner_migration.rs
  tests/cache_comprehensive_test.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test
