Repository ThreatFlux/threatflux-threat-detection: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test, cargo-audit

cargo-fmt-check:
  name: cargo fmt --check
  entry: cargo fmt
  language: rust
  pass_filenames: false
  args:
  - --check

cargo-clippy-lib:
  name: cargo clippy (lib)
  entry: cargo clippy
  language: rust
  pass_filenames: false
  args:
  - --lib
  - --
  - -D
  - warnings

cargo-clippy-bins:
  name: cargo clippy (bins)
  entry: cargo clippy
  language: rust
  pass_filenames: false
  args:
  - --bins
  - --
  - -D
  - warnings

cargo-clippy-tests:
  name: cargo clippy (tests)
  entry: cargo clippy
  language: rust
  pass_filenames: false
  args:
  - --tests
  - --
  - -W
  - clippy::all

cargo-check:
  name: cargo check
  entry: cargo check
  language: rust
  pass_filenames: false
  args:
  - --all-features

cargo-test:
  name: cargo test
  entry: cargo test
  language: rust
  pass_filenames: false
  args:
  - --lib
  - --bins

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: rust
  pass_filenames: false

fix: add curl to Docker build dependencies for utoipa-swagger-ui
  Dockerfile
  src/mcp_transport.rs
  tests/mcp_transport_integration_test.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test

feat: significantly improve test coverage for control flow analysis
  src/control_flow.rs
  tests/control_flow_test.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test

feat: significantly improve test coverage for function analysis module
  tests/function_analysis_test.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test

feat: add comprehensive test coverage for MCP transport layer
  tests/mcp_transport_server_integration_test.rs
  tests/mcp_transport_sse_test.rs
  tests/mcp_transport_stdio_test.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test

fix: prevent macOS codesign from running on non-Mach-O binaries
  src/signature.rs
  tests/mod.rs
  tests/signature_test.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test

test: skip comprehensive file analysis test on macOS CI
  tests/integration/mcp_server_test.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test

feat: significantly improve test coverage for multiple analysis modules
  tests/call_graph_comprehensive_test.rs
  tests/entropy_analysis_comprehensive_test.rs
  tests/function_analysis_comprehensive_test.rs
  tests/mod.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test

feat: add comprehensive OLE and VBA parsing with security analysis
  Cargo.lock
  Cargo.toml
  src/lib.rs
  src/ole_vba_analysis.rs
  tests/mod.rs
  tests/ole_vba_analysis_test.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test, cargo-audit

feat: add comprehensive PDF analysis with security detection
  Cargo.toml
  src/lib.rs
  src/pdf_analysis.rs
  tests/mod.rs
  tests/pdf_analysis_test.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test, cargo-audit

feat: add comprehensive ZIP archive analysis module
  src/archive_analysis.rs
  src/lib.rs
  tests/archive_analysis_test.rs
  tests/mod.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test

feat: add RAR archive analysis module
  src/lib.rs
  src/rar_analysis.rs
  tests/mod.rs
  tests/rar_analysis_test.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test

feat: add 7-Zip archive analysis module
  src/lib.rs
  src/sevenz_analysis.rs
  tests/mod.rs
  tests/sevenz_analysis_test.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test

feat: add comprehensive PowerShell script analyzer with security analysis
  benches/parser_benchmark.rs
  src/behavioral_analysis.rs
  src/binary_parser.rs
  src/code_metrics.rs
  src/control_flow.rs
  src/dependency_analysis.rs
  src/function_analysis.rs
  src/hash.rs
  src/lib.rs
  src/mcp_transport.rs
  src/script_analysis.rs
  src/signature.rs
  src/strings.rs
  src/tar_analysis.rs
  src/vulnerability_detection.rs
  tests/behavioral_analysis_test.rs
  tests/cache_test.rs
  tests/call_graph_comprehensive_test.rs
  tests/call_graph_test.rs
  tests/control_flow_integration.rs
  tests/control_flow_test.rs
  tests/dependency_analysis_test.rs
  tests/entropy_analysis_comprehensive_test.rs
  tests/function_analysis_comprehensive_test.rs
  tests/function_analysis_test.rs
  tests/mcp_transport_comprehensive_test.rs
  tests/mcp_transport_server_integration_test.rs
  tests/mcp_transport_sse_test.rs
  tests/mcp_transport_stdio_test.rs
  tests/mcp_transport_test.rs
  tests/mod.rs
  tests/ole_vba_analysis_test.rs
  tests/pdf_analysis_test.rs
  tests/rar_analysis_test.rs
  tests/script_analysis_test.rs
  tests/tar_analysis_test.rs
  tests/vulnerability_detection_test.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test

fix: resolve 4 failing tests in MCP transport server
  src/call_graph.rs
  src/code_metrics.rs
  src/mcp_transport.rs
  tests/function_analysis_test.rs
  tests/mcp_transport_server_integration_test.rs
  tests/mcp_transport_stdio_test.rs
  tests/mcp_transport_test.rs
  tests/tar_analysis_test.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test

fix: convert Docker repository name to lowercase in GitHub Actions
  .github/workflows/docker.yml
Due: none

fix: resolve gzip/tar error in validation workflow
  .github/workflows/validate.yml
Due: none

fix: simplify validation workflow to use Makefile approach
  .github/workflows/validate.yml
Due: none

fix: resolve YAML validation errors in workflow files
  .github/workflows/ci.yml
  .github/workflows/validate.yml
  .yamllint.yml
Due: none

fix: increase yamllint line length limit to 350 for GitHub Actions
  .yamllint.yml
Due: none

fix: update MCP transport stdio tests to match current behavior
  tests/mcp_transport_stdio_test.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test

fix: resolve tar analysis test failures in CI
  tests/tar_analysis_test.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test

fix: repair broken Codecov badge link in README
  README.md
Due: none

fix: use lowercase Docker repository name in simple release workflow
  .github/workflows/release-simple.yml
Due: none

feat: add comprehensive external test coverage for core modules
  tests/binary_parser_test.rs
  tests/entropy_analysis_test.rs
  tests/strings_test.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test

feat: enhance test coverage and fix code quality issues
  tests/binary_parser_test.rs
  tests/call_graph_test.rs
  tests/control_flow_test.rs
  tests/disassembly_test.rs
  tests/function_analysis_test.rs
  tests/hexdump_test.rs
  tests/integration/mcp_transport_test.rs
  tests/mcp_server_unit_test.rs
  tests/mcp_transport_sse_test.rs
  tests/mcp_transport_stdio_test.rs
  tests/ole_vba_analysis_test.rs
  tests/string_tracker_test.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test

feat: expose internal functions for comprehensive test coverage
  src/function_analysis.rs
  src/ole_vba_analysis.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test

feat: add yara_scan_file tool and all flag for analyze_file
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  src/mcp_server.rs
  src/threat_detection.rs
  tests/integration/mcp_server_test.rs
  tests/mcp_server_unit_test.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test, cargo-audit

Udate scanner for better yara-x runs
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  src/binary_parser.rs
  src/java_analysis.rs
  src/lib.rs
  src/main.rs
  src/mcp_server.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test, cargo-audit

feat: add npm package security analysis
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  src/java_analysis.rs
  src/lib.rs
  src/main.rs
  src/mcp_server.rs
  src/npm_analysis.rs
  src/npm_vuln_db.rs
  tests/npm_analysis_test.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test, cargo-audit

feat: add Python package security analysis
  CLAUDE.md
  src/binary_parser.rs
  src/java_analysis.rs
  src/lib.rs
  src/main.rs
  src/mcp_server.rs
  src/npm_analysis.rs
  src/npm_vuln_db.rs
  src/python_analysis.rs
  src/python_vuln_db.rs
  src/rar_analysis.rs
  src/sevenz_analysis.rs
  src/tar_analysis.rs
  src/threat_detection.rs
  tests/mod.rs
  tests/npm_analysis_test.rs
  tests/python_analysis_test.rs
  tests/string_tracker_test.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test

fix: resolve Docker workflow failures
  .github/workflows/docker.yml
Due: none

fix: resolve clippy lint errors
  src/java_analysis.rs
  src/lib.rs
  src/main.rs
  src/npm_analysis.rs
  src/npm_vuln_db.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test

fix: add missing java_analysis field to BinaryInfo test initializations
  tests/binary_parser_test.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test

fix: resolve test failures and CI disk space issues
  .github/workflows/ci.yml
  tests/npm_analysis_test.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test

bump: version 0.1.0 → 0.1.1
  Cargo.toml
Due: cargo-audit

test: add comprehensive test coverage for critical modules
  tests/java_analysis_test.rs
  tests/npm_analysis_test.rs
  tests/npm_vuln_db_test.rs
  tests/python_vuln_db_test.rs
  tests/signature_test.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test

deps: update dependencies from dependabot PRs
  .github/workflows/semantic-release.yml
  Cargo.lock
  Cargo.toml
  src/archive_analysis.rs
  tests/common/mod.rs
  tests/fixtures/mod.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test, cargo-audit

feat: implement GuardDog-inspired security enhancements
  Cargo.lock
  Cargo.toml
  SUPPORTED_FILE_TYPES.md
  analyze_express.rs
  analyze_request.json
  express_analysis_report.md
  src/main.rs
  src/npm_vuln_db.rs
  src/repository_integrity.rs
  src/taint_tracking.rs
  src/typosquatting_detection.rs
  test_npm_packages/express-5.1.0.tgz
  test_npm_packages/package/History.md
  test_npm_packages/package/LICENSE
  test_npm_packages/package/Readme.md
  test_npm_packages/package/index.js
  test_npm_packages/package/lib/application.js
  test_npm_packages/package/lib/express.js
  test_npm_packages/package/lib/request.js
  test_npm_packages/package/lib/response.js
  test_npm_packages/package/lib/utils.js
  test_npm_packages/package/lib/view.js
  test_npm_packages/package/package.json
  tests/hash_test.rs
  tests/integration/cli_test.rs
  tests/npm_analysis_advanced_test.rs
  tests/python_analysis_advanced_test.rs
  tests/repository_integrity_test.rs
  tests/taint_tracking_test.rs
  tests/typosquatting_detection_test.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test, cargo-audit

fix: resolve clippy lint warnings
  src/lib.rs
  src/main.rs
  src/repository_integrity.rs
  src/taint_tracking.rs
  src/typosquatting_detection.rs
  tests/mcp_transport_test.rs
  tests/python_analysis_advanced_test.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test

Path conditions:
  cargo-fmt-check: any of: \.rs$
  cargo-clippy-lib: any of: \.rs$
  cargo-clippy-bins: any of: \.rs$
  cargo-clippy-tests: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-audit: any of: Cargo\.(toml|lock)$
