Repository ThreatFlux/threatflux-threat-detection: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test, cargo-audit

cargo-fmt-check:
  name: cargo fmt --check
  entry: cargo fmt
  language: rust
  pass_filenames: false
  args:
  - --check

cargo-clippy-lib:
  name: cargo clippy (lib)
  entry: cargo clippy
  language: rust
  pass_filenames: false
  args:
  - --lib
  - --
  - -D
  - warnings

cargo-clippy-bins:
  name: cargo clippy (bins)
  entry: cargo clippy
  language: rust
  pass_filenames: false
  args:
  - --bins
  - --
  - -D
  - warnings

cargo-clippy-tests:
  name: cargo clippy (tests)
  entry: cargo clippy
  language: rust
  pass_filenames: false
  args:
  - --tests
  - --
  - -W
  - clippy::all

cargo-check:
  name: cargo check
  entry: cargo check
  language: rust
  pass_filenames: false
  args:
  - --all-features

cargo-test:
  name: cargo test
  entry: cargo test
  language: rust
  pass_filenames: false
  args:
  - --lib
  - --bins

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: rust
  pass_filenames: false

fix: add rust-version to Cargo.toml for MSRV verification
  Cargo.toml
Due: cargo-audit

fix: fix malformed Cargo.toml after rust-version addition
  Cargo.toml
Due: cargo-audit

Change license to MIT only
  Cargo.toml
  LICENSE
Due: cargo-audit

feat: improve workspace .gitignore and clean up repository structure
  .gitignore
  threatflux-binary-analysis/Cargo.lock
  threatflux-binary-analysis/LICENSE
  threatflux-cache/LICENSE
  threatflux-hashing/Cargo.lock
  threatflux-hashing/LICENSE
  threatflux-hashing/LICENSE-APACHE
  threatflux-package-security/LICENSE
  threatflux-threat-detection/LICENSE
Due: cargo-audit

Fix test failures and improve string analysis categorization
  threatflux-string-analysis/Cargo.toml
  threatflux-string-analysis/README.md
  threatflux-string-analysis/examples/custom_patterns.rs
  threatflux-string-analysis/src/categorizer.rs
  threatflux-string-analysis/src/tracker.rs
  threatflux-string-analysis/tests/comprehensive_test.rs
  threatflux-string-analysis/tests/unit_test.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test, cargo-audit

Update remaining library configurations for MIT licensing
  benches/hash_benchmark.rs
  benches/parser_benchmark.rs
  threatflux-binary-analysis/Cargo.toml
  threatflux-binary-analysis/README.md
  threatflux-cache/Cargo.toml
  threatflux-hashing/Cargo.toml
  threatflux-hashing/README.md
  threatflux-package-security/Cargo.toml
  threatflux-package-security/README.md
  threatflux-threat-detection/Cargo.toml
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test, cargo-audit

Add comprehensive Makefiles for all ThreatFlux repositories
  threatflux-string-analysis/Makefile
Due: none

Add remaining Makefiles for ThreatFlux libraries
  Makefile
  threatflux-binary-analysis/Makefile
  threatflux-cache/Makefile
  threatflux-hashing/Makefile
  threatflux-package-security/Makefile
  threatflux-threat-detection/Makefile
Due: none

feat: sync latest workspace improvements and fix type mismatches
  Cargo.toml
  Makefile
  examples/custom_entry.rs
  examples/file_scanner_migration.rs
  tests/cache_comprehensive_test.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test, cargo-audit

feat: apply comprehensive fixes and optimizations
  Cargo.toml
  examples/file_scanner_migration.rs
  src/backends/filesystem.rs
  src/cache.rs
  src/lib.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test, cargo-audit

bump: release version 0.1.8
  Cargo.toml
Due: cargo-audit

fix: apply cargo fmt formatting fixes
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  examples/file_scanner_migration.rs
  src/backends/filesystem.rs
  src/cache.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test

fix: update security workflow cargo-deny configuration
  .github/workflows/security.yml
Due: none

fix: resolve clippy useless_vec warning in tests
  tests/cache_comprehensive_test.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test

feat: add comprehensive development environment setup
  DEVELOPMENT.md
  pre-commit-template
  setup-dev-tools.sh
Due: none

fix: migrate from cache to threat detection library and update security dependencies
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
  Cargo.toml
  Cargo.toml.wrong-cache-version
  examples/basic_usage.rs
  examples/custom_entry.rs
  examples/file_scanner_migration.rs
  examples/simple_test.rs
  src-wrong-cache/backends/filesystem.rs
  src-wrong-cache/backends/memory.rs
  src-wrong-cache/backends/mod.rs
  src-wrong-cache/cache.rs
  src-wrong-cache/config.rs
  src-wrong-cache/entry.rs
  src-wrong-cache/error.rs
  src-wrong-cache/eviction.rs
  src-wrong-cache/lib.rs
  src-wrong-cache/metrics.rs
  src-wrong-cache/search.rs
  src-wrong-cache/storage.rs
  src/analysis/mod.rs
  src/engines/clamav.rs
  src/engines/mod.rs
  src/engines/patterns.rs
  src/engines/yara.rs
  src/error.rs
  src/lib.rs
  src/rules/builtin.rs
  src/rules/mod.rs
  src/rules/updater.rs
  src/types.rs
  tests/cache_comprehensive_test.rs
  tests/detector_test.rs
  tests/integration_test.rs
  tests/types_test.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test, cargo-audit

fix: resolve all Clippy warnings in standalone-threat-detection
  src/analysis/mod.rs
  src/engines/patterns.rs
  src/lib.rs
  src/rules/builtin.rs
  src/rules/mod.rs
  src/types.rs
  tests/detector_test.rs
  tests/types_test.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test

fix: resolve CI/CD issues and improve code quality
  .clippy.toml
  .rustfmt.toml
  deny.toml
Due: none

fix: resolve all Clippy warnings in standalone-threat-detection
  .github/workflows/ci.yml
  .github/workflows/security.yml
  CI_STATUS_CHECK.md
  Cargo.toml
  deny.toml
Due: cargo-audit

fix: resolve CI/CD failures - format code and fix Clippy issues
  .clippy.toml
  src/engines/clamav.rs
  src/engines/yara.rs
  src/lib.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test

fix: resolve workflow failures in benchmarks and documentation
  .github/workflows/benchmarks.yml
  .github/workflows/docs.yml
Due: none

fix: resolve documentation workflow issues
  .github/workflows/docs.yml
  cspell.json
Due: none

fix: Make ClamAV optional in CI environments to resolve system dependency issues
  .github/workflows/ci.yml
Due: none

fix: Simplify CI feature configuration to use only default features
  .github/workflows/ci.yml
Due: none

fix: resolve remaining CI/CD workflow issues after ClamAV dependency fixes
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: none

fix: downgrade env_logger from 0.11 to 0.10 to resolve CI/CD failures
  Cargo.toml
Due: cargo-audit

chore: update rust to 1.95.0
  .github/workflows/benchmarks.yml
  .github/workflows/ci.yml
  .github/workflows/dependency-update.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  Cargo.toml
Due: cargo-audit

chore: bump rust tooling and template base image references to 1.95
  .clippy.toml
Due: none

fix(ci): pin msrv toolchain action
  .github/workflows/ci.yml
Due: none

fix: restore optional engines and release validation
  .github/workflows/dependency-update.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  Cargo.toml
  deny.toml
  src/engines/clamav.rs
  src/engines/yara.rs
  src/error.rs
  src/rules/builtin.rs
  src/rules/mod.rs
  src/rules/updater.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test, cargo-audit

ci: recognize threat detection vocabulary
  cspell.json
Due: none

fix: satisfy restored security and quality gates
  .github/workflows/security.yml
  cspell.json
  src/analysis/mod.rs
  src/engines/clamav.rs
  src/engines/patterns.rs
  src/lib.rs
  src/rules/mod.rs
  src/rules/updater.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test

fix: address final release and security review
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  Cargo.toml
  src/rules/updater.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test, cargo-audit

fix: bound ClamAV daemon scans
  src/engines/clamav.rs
  src/lib.rs
Due: cargo-fmt-check, cargo-clippy-lib, cargo-clippy-bins, cargo-clippy-tests, cargo-check, cargo-test

chore: update Cargo dependencies
  Cargo.toml
Due: cargo-audit

ci: adopt ThreatFlux auto-release action
  .github/workflows/auto-release.yml
Due: none

Path conditions:
  cargo-fmt-check: any of: \.rs$
  cargo-clippy-lib: any of: \.rs$
  cargo-clippy-bins: any of: \.rs$
  cargo-clippy-tests: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-audit: any of: Cargo\.(toml|lock)$
